# Postprocessing
Load matched disaster datasets, clean, and merge if matched with same GFD floods.

In [1]:
# Import modules
import os
import numpy as np
import pandas as pd 
import geopandas as gpd
from datetime import datetime
import itertools
import glob
          
# Create paths

def mkdir(dir):    
    if not os.path.exists(dir):
        os.mkdir(dir)
        
path_local = os.getcwd() + '/'
path_data = path_local + 'data/'
path_data_processed = path_local + 'data_processed/'
path_FLODIS_final = path_data_processed + 'FLODIS_final/'
path_FLODIS_final_creator = mkdir(path_FLODIS_final)

# IDMC functions

In [12]:
# Delete unneccessary rows and columns. 
# Check for national vs. subnational entries.
# Search for entries with the same GFD ID. 

def drop_columns_rows(df):
    
    df = df[df.columns.drop(df.filter(regex='Unnamed:'))]     
    df = df.drop([
       'event_name',
       'Hazard Category', 'Hazard Type',
       'country_only_info','provinces','districts',
  #     'num_provinces', 'num_districts',
       'start_date', 'Name',
       'idx', 
        'countries_forUKonly'],axis=1)
    df = df.replace(-np.inf,np.nan)
    
    return df

def matches_filter(df):
    print('Number of IDMC flood events (2008-2018):',len(df))
    df = df[df.DFO_matches > 0]
    print('Number of succesfully matched IDMC events:',len(df),'\n\n')
    df = df.reset_index(drop=True)
    
    return df


def nat_vs_subnat(df):

    sum_columns = ['displacements',]

    mean_columns = [ 'DFO_matches_time_dif', 'DFO_duration',        
           'DFO_satellite_shape_pop_density_GHSL', 
            'DFO_satellite_shape_pop_density_GPW','affected_mean_GHSL','affected_mean_GPW','GDP_affected_mean',
           'CISI_global_affected_mean', 'cable_affected_mean',
           'plant_affected_mean', 'power_pole_affected_mean',
           'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
           'communication_tower_affected_mean', 'doctors_affected_mean',
           'hospital_affected_mean', 'pharmacy_affected_mean',
           'primary_road_affected_mean', 'tertiary_road_affected_mean',
           'reservoir_affected_mean', 'school_affected_mean',
           'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
           'urbanization_mean', 'landuse_total_mean', 'female_mean',               
           'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
           'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = ['DFO_satellite_shape_area','affected_sum_GHSL', 
                   'affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                   'power_pole_affected_sum', 'power_tower_affected_sum',
                   'line_affected_sum', 'mast_affected_sum',
                   'communication_tower_affected_sum', 'doctors_affected_sum',
                   'hospital_affected_sum', 'pharmacy_affected_sum',
                   'primary_road_affected_sum', 'tertiary_road_affected_sum',
                   'reservoir_affected_sum', 'school_affected_sum',
                   'university_affected_sum']
    
    for ID in df.DFO_matches_nr.unique():

        df_temp_1 = df[df['DFO_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]

            if len(df_temp_2) > 1: 
                df_nat = df_temp_2[((df_temp_2.GID_1.isnull()) & (df_temp_2.GID_2.isnull()))]
                df_non_nat = df_temp_2.drop(df_nat.index.to_list()) 

                if df_nat.displacements.sum() > df_non_nat.displacements.sum():
                    print('nat. entry > subnat. entry')
                    print(ISO3)
                    print(ID)
                    ISO3_temp = df_temp_2.ISO3.iloc[0]
                    DFO_matches_temp = df_temp_2.DFO_matches.max()
                    DFO_matching_type_temp = 3
                    print(df_temp_2.DFO_matches_nr)
                    print(len(df_temp_2.DFO_matches_nr))
                    
                    DFO_matches_nr_temp = ID
                    print("New nr:",DFO_matches_nr_temp)
                    GID_1_temp = ''
                    GID_2_temp = ''

                    for i in df_temp_2.GID_1:
                        
                        if str(i) != 'nan':
                            GID_1_temp = GID_1_temp + str(i) + ','

                    try:
                        if GID_1_temp[-1] == ',':
                            GID_1_temp = GID_1_temp[:-1]        
                    except:
                        pass

                    for i in df_temp_2.GID_2:
                        
                        if str(i) != 'nan':
                            GID_2_temp = GID_2_temp + str(i) + ','

                    try:
                        if GID_2_temp[-1] == ',':
                            GID_2_temp = GID_2_temp[:-1]        
                    except:
                        pass
                    
                    if len(GID_1_temp) > 1:
                        GID_1_temp_len = len(GID_1_temp.split(','))
                        
                    else:
                        GID_1_temp_len = np.nan
                        
                    
                    if len(GID_2_temp) > 1:
                        GID_2_temp_len = len(GID_2_temp.split(','))
                        
                    else:
                        GID_2_temp_len = np.nan

                    df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                    df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                    df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                    row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                    try:
                        row_single = row_single.drop(['GID_1'],axis=1)
                    except:
                        pass
                    try:
                        row_single = row_single.drop(['GID_2'],axis=1)
                    except:
                        pass

                    row_single.insert(0,'ISO3',ISO3_temp)
                    row_single.insert(1,'DFO_matches',DFO_matches_temp)
                    row_single.insert(2,'matching_type',DFO_matching_type_temp)
                    row_single.insert(3,'DFO_matches_nr',DFO_matches_nr_temp)
                    row_single.insert(4,'GID_1',GID_1_temp)
                    row_single.insert(5,'GID_2',GID_2_temp)
                    row_single.insert(6,'num_provinces',GID_1_temp_len)
                    row_single.insert(7,'num_districts',GID_2_temp_len)
                    row_single['year'] = np.round(df_temp_2.year.mean(),0)
                    row_single = row_single.reindex(columns=df.columns)
                    df = df.drop(df_temp_2.index.to_list())
                    df = df.append(row_single)
                    
                    print(row_single.DFO_matches_nr)
                   
                else:
                    print('nat. entry dropped')
                    df = df.drop(df_nat.index.to_list())
   
    print('Number of succesfully matched IDMC events:',len(df))
    print("Number of individual DFO events:",len(df.DFO_matches_nr.unique()),'\n\n')
    df = df.reset_index(drop=True)    
    
    return(df)

def province_duplicate_merger(df):
    
    sum_columns = ['displacements',]

    mean_columns = ['DFO_matches_time_dif', 'DFO_duration',        
                    'DFO_satellite_shape_pop_density_GHSL', 
                    'DFO_satellite_shape_pop_density_GPW',
                    'DFO_satellite_shape_area','affected_sum_GHSL', 
                    'affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                    'power_pole_affected_sum', 'power_tower_affected_sum',
                    'line_affected_sum', 'mast_affected_sum',
                    'communication_tower_affected_sum', 'doctors_affected_sum',
                    'hospital_affected_sum', 'pharmacy_affected_sum',
                    'primary_road_affected_sum', 'tertiary_road_affected_sum',
                    'reservoir_affected_sum', 'school_affected_sum',
                    'university_affected_sum',
                    'affected_mean_GHSL','affected_mean_GPW','GDP_affected_mean',
                    'CISI_global_affected_mean', 'cable_affected_mean',
                    'plant_affected_mean', 'power_pole_affected_mean',
                    'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
                    'communication_tower_affected_mean', 'doctors_affected_mean',
                    'hospital_affected_mean', 'pharmacy_affected_mean',
                    'primary_road_affected_mean', 'tertiary_road_affected_mean',
                    'reservoir_affected_mean', 'school_affected_mean',
                    'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
                    'urbanization_mean', 'landuse_total_mean', 'female_mean',               
                    'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
                    'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = []

    for ID in df.DFO_matches_nr.unique():

        df_temp_1 = df[df['DFO_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]
            df_temp_3 = df_temp_2[~(df_temp_2.GID_1.isnull())]

            if len(df_temp_3) > 1:

                if df_temp_3[df_temp_3.GID_1.duplicated()].empty == False:

                    print('provinces duplicate found')

                    duplicated_GID_1 = df_temp_3[df_temp_3.GID_1.duplicated()].GID_1.iloc[0]
                    df_temp_4 = df_temp_3[df_temp_3.GID_1 == duplicated_GID_1]
                    ISO3_temp = df_temp_4.ISO3.iloc[0]            
                    DFO_matches_temp = df_temp_4.DFO_matches.max()
                    DFO_matching_type_temp = 4
                    DFO_matches_nr_temp = ID
                    GID_1_temp = duplicated_GID_1
                    GID_2_temp = ''

                    for i in df_temp_4.GID_2:
                        
                        if str(i) != 'nan':
                            GID_2_temp = GID_2_temp + str(i) + ','

                    try:
                        if GID_2_temp[-1] == ',':
                            GID_2_temp = GID_2_temp[:-1]        
                    except:
                        pass
                    
                    if len(GID_1_temp) > 1:
                        GID_1_temp_len = len(GID_1_temp.split(','))
                        
                    else:
                        GID_1_temp_len = np.nan
                    
                    if len(GID_2_temp) > 1:
                        GID_2_temp_len = len(GID_2_temp.split(','))
                        
                    else:
                        GID_2_temp_len = np.nan
                        
                    df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                    df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                    df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                    row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                    try:
                        row_single = row_single.drop(['GID_1'],axis=1)
                    except:
                        pass
                    try:
                        row_single = row_single.drop(['GID_2'],axis=1)
                    except:
                        pass

                    row_single.insert(0,'ISO3',ISO3_temp)
                    row_single.insert(1,'DFO_matches',DFO_matches_temp)
                    row_single.insert(2,'matching_type',DFO_matching_type_temp)
                    row_single.insert(3,'DFO_matches_nr',DFO_matches_nr_temp)
                    row_single.insert(4,'GID_1',GID_1_temp)
                    row_single.insert(5,'GID_2',GID_2_temp)
                    row_single.insert(6,'num_provinces',GID_1_temp_len)
                    row_single.insert(7,'num_districts',GID_2_temp_len)
                    row_single['year'] = np.round(df_temp_4.year.mean(),0)
                    row_single = row_single.reindex(columns=df.columns)
                    df = df.drop(df_temp_4.index.to_list())
                    df = df.append(row_single)

    df = df.reset_index(drop=True)
    
    print('Number of succesfully matched IDMC events:',len(df))
    print("Number of individual DFO events:",len(df.DFO_matches_nr.unique()),'\n\n') 
    
    return(df)

def district_duplicate_merger(df):
    
    sum_columns = ['displacements',]

    mean_columns = ['DFO_matches_time_dif', 'DFO_duration',        
                    'DFO_satellite_shape_pop_density_GHSL', 
                    'DFO_satellite_shape_pop_density_GPW',
                    'DFO_satellite_shape_area','affected_sum_GHSL', 
                    'affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                    'power_pole_affected_sum', 'power_tower_affected_sum',
                    'line_affected_sum', 'mast_affected_sum',
                    'communication_tower_affected_sum', 'doctors_affected_sum',
                    'hospital_affected_sum', 'pharmacy_affected_sum',
                    'primary_road_affected_sum', 'tertiary_road_affected_sum',
                    'reservoir_affected_sum', 'school_affected_sum',
                    'university_affected_sum',
                    'affected_mean_GHSL','affected_mean_GPW','GDP_affected_mean',
                    'CISI_global_affected_mean', 'cable_affected_mean',
                    'plant_affected_mean', 'power_pole_affected_mean',
                    'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
                    'communication_tower_affected_mean', 'doctors_affected_mean',
                    'hospital_affected_mean', 'pharmacy_affected_mean',
                    'primary_road_affected_mean', 'tertiary_road_affected_mean',
                    'reservoir_affected_mean', 'school_affected_mean',
                    'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
                    'urbanization_mean', 'landuse_total_mean', 'female_mean',               
                    'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
                    'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = []

    for ID in df.DFO_matches_nr.unique():

        df_temp_1 = df[df['DFO_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]
            df_temp_3 = df_temp_2[~(df_temp_2.GID_2.isnull())]

            if len(df_temp_3) > 1:

                if df_temp_3[df_temp_3.GID_2.duplicated()].empty == False:

                    print('districts duplicate found')

                    duplicated_GID_2 = df_temp_3[df_temp_3.GID_2.duplicated()].GID_2.iloc[0]
                    df_temp_4 = df_temp_3[df_temp_3.GID_2 == duplicated_GID_2]
                    ISO3_temp = df_temp_4.ISO3.iloc[0]            
                    DFO_matches_temp = df_temp_4.DFO_matches.max()
                    DFO_matching_type_temp = 5
                    DFO_matches_nr_temp = ID          
                    GID_1_temp = '' 
                    GID_2_temp = duplicated_GID_2 
                    
                    for i in df_temp_4.GID_1:
                        
                        if str(i) != 'nan':
                            GID_1_temp = GID_1_temp + str(i) + ','

                    try:
                        if GID_1_temp[-1] == ',':
                            GID_1_temp = GID_1_temp[:-1]        
                    except:
                        pass
                    
                    
                    if len(GID_1_temp) > 1:
                        GID_1_temp_len = len(GID_1_temp.split(','))
                        
                    else:
                        GID_1_temp_len = np.nan
                        
                    
                    if len(GID_2_temp) > 1:
                        GID_2_temp_len = len(GID_2_temp.split(','))
                        
                    else:
                        GID_2_temp_len = np.nan
                        
                    df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                    df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                    df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                    row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                    try:
                        row_single = row_single.drop(['GID_1'],axis=1)
                    except:
                        pass
                    try:
                        row_single = row_single.drop(['GID_2'],axis=1)
                    except:
                        pass

                    row_single.insert(0,'ISO3',ISO3_temp)
                    row_single.insert(1,'DFO_matches',DFO_matches_temp)
                    row_single.insert(2,'matching_type',DFO_matching_type_temp)
                    row_single.insert(3,'DFO_matches_nr',DFO_matches_nr_temp)
                    row_single.insert(4,'GID_1',GID_1_temp)
                    row_single.insert(5,'GID_2',GID_2_temp)
                    row_single.insert(6,'num_provinces',GID_1_temp_len)
                    row_single.insert(7,'num_districts',GID_2_temp_len)
                    row_single['year'] = np.round(df_temp_4.year.mean(),0)
                    row_single = row_single.reindex(columns=df.columns)
                    df = df.drop(df_temp_4.index.to_list())
                    df = df.append(row_single)
  
    df = df.reset_index(drop=True) 
    print('Number of succesfully matched IDMC events:',len(df))
    print("Number of individual DFO events:",len(df.DFO_matches_nr.unique()),'\n\n') 
    
    return(df)

# Launch (IDMC)

In [13]:
df = pd.read_csv(path_data_processed + "IDMC_EMDAT_GFD_match/IDMC_GFD_connect_results_FL_merged.csv")
df.rename(columns={'Internal Displacements':'displacements','Year':'year'}, 
                     inplace=True)    

for i in range(len(df)):    
    ID = df.loc[i,'DFO_matches_nr']
    
    if "[" in str(ID) and len(ID) <= 6:        
        df.loc[i,'DFO_matches_nr'] = ID.replace('[','').replace(']','')
        
df = (df.
                pipe(drop_columns_rows).
                pipe(matches_filter).
                pipe(nat_vs_subnat).
                pipe(province_duplicate_merger).
                pipe(district_duplicate_merger)
             )

print("FINAL:")
print('Number of succesfully matched IDMC events:',len(df))
print('Number of events without displacement numbers:',len(df[df.displacements.isnull()]))

df.to_csv(path_FLODIS_final + 'FLODIS_displacements.csv')

Number of IDMC flood events (2008-2018): 5482
Number of succesfully matched IDMC events: 524


nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry > subnat. entry
MNE
3591
305    3591
306    3591
Name: DFO_matches_nr, dtype: object
2
New nr: 3591
0    3591
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
SRB
3591
441    3591
442    3591
443    3591
Name: DFO_matches_nr, dtype: object
3
New nr: 3591
0    3591
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
AUS
3590
37    3590
38    3590
39    3590
Name: DFO_matches_nr, dtype: object
3
New nr: 3590
0    3590
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3894
40    3894
41    3894
Name: DFO_matches_nr, dtype: object
2
New nr: 3894
0    3894
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
4327
43    4327
44    4327
Name: DFO_matches_nr, dtype: object
2
New nr: 4327
0    4327
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
TZA
4324
474    4324
475    4324
Name: DFO_matches_nr, dtype: object
2
New nr: 4324
0    4324
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
BGD
4382
58    4382
59    4382
Name: DFO_matches_nr, dtype: object
2
New nr: 4382
0    4382
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry > subnat. entry
BRA
3775
86    3775
87    3775
88    3775
89    3775
90    3775
91    3775
Name: DFO_matches_nr, dtype: object
6
New nr: 3775
0    3775
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PER
3775
386    3775
387    3775
Name: DFO_matches_nr, dtype: object
2
New nr: 3775
0    3775
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
BOL
4577
74    4577
75    4577
76    4577
Name: DFO_matches_nr, dtype: object
3
New nr: 4577
0    4577
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BRA
3436
79    3436
80    3436
81    3436
82    3436
83    3436
84    3436
85    3436
Name: DFO_matches_nr, dtype: object
7
New nr: 3436
0    3436
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[3325, 3327, 3338]
101    [3325, 3327, 3338]
102    [3325, 3327, 3338]
105    [3325, 3327, 3338]
Name: DFO_matches_nr, dtype: object
3
New nr: [3325, 3327, 3338]
0    [3325, 3327, 3338]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4156
107    4156
111    4156
Name: DFO_matches_nr, dtype: object
2
New nr: 4156
0    4156
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
KHM
4156
279    4156
280    4156
Name: DFO_matches_nr, dtype: object
2
New nr: 4156
0    4156
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MMR
4156
293    4156
294    4156
295    4156
296    4156
297    4156
Name: DFO_matches_nr, dtype: object
5
New nr: 4156
0    4156
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4154
108    4154
112    4154
Name: DFO_matches_nr, dtype: object
2
New nr: 4154
0    4154
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4146
109    4146
110    4146
113    4146
114    4146
Name: DFO_matches_nr, dtype: object
4
New nr: 4146
0    4146
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4258
116    4258
119    4258
Name: DFO_matches_nr, dtype: object
2
New nr: 4258
0    4258
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
CHN
[4378, 4382]
120    [4378, 4382]
126    [4378, 4382]
Name: DFO_matches_nr, dtype: object
2
New nr: [4378, 4382]
0    [4378, 4382]
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
CHN
4390
121    4390
122    4390
123    4390
Name: DFO_matches_nr, dtype: object
3
New nr: 4390
0    4390
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
CHN
4365
125    4365
127    4365
128    4365
129    4365
130    4365
Name: DFO_matches_nr, dtype: object
5
New nr: 4365
0    4365
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MMR
4365
300    4365
301    4365
Name: DFO_matches_nr, dtype: object
2
New nr: 4365
0    4365
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4500
131    4500
133    4500
139    4500
Name: DFO_matches_nr, dtype: object
3
New nr: 4500
0    4500
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
IND
4483
259    4483
260    4483
Name: DFO_matches_nr, dtype: object
2
New nr: 4483
0    4483
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
COL
3421
148    3421
149    3421
Name: DFO_matches_nr, dtype: object
2
New nr: 3421
0    3421
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry dropped
nat. entry > subnat. entry
SSD
4186
445    4186
446    4186
447    4186
Name: DFO_matches_nr, dtype: object
3
New nr: 4186
0    4186
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
FJI
3893
167    3893
168    3893
Name: DFO_matches_nr, dtype: object
2
New nr: 3893
0    3893
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GBR
4111
169    4111
170    4111
Name: DFO_matches_nr, dtype: object
2
New nr: 4111
0    4111
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
IDN
3888
186    3888
187    3888
Name: DFO_matches_nr, dtype: object
2
New nr: 3888
0    3888
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
[4013, 4020]
188    [4013, 4020]
190    [4013, 4020]
192    [4013, 4020]
Name: DFO_matches_nr, dtype: object
3
New nr: [4013, 4020]
0    [4013, 4020]
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry dropped
nat. entry > subnat. entry
IDN
4222
197    4222
198    4222
199    4222
202    4222
203    4222
204    4222
205    4222
Name: DFO_matches_nr, dtype: object
7
New nr: 4222
0    4222
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
4330
200    4330
208    4330
212    4330
Name: DFO_matches_nr, dtype: object
3
New nr: 4330
0    4330
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
IDN
4364
209    4364
210    4364
211    4364
213    4364
214    4364
215    4364
216    4364
217    4364
218    4364
219    4364
Name: DFO_matches_nr, dtype: object
10
New nr: 4364
0    4364
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
4584
220    4584
221    4584
222    4584
223    4584
Name: DFO_matches_nr, dtype: object
4
New nr: 4584
0    4584
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry > subnat. entry
PAK
4179
370    4179
371    4179
372    4179
373    4179
374    4179
375    4179
376    4179
377    4179
378    4179
379    4179
Name: DFO_matches_nr, dtype: object
10
New nr: 4179
0    4179
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry dropped
nat. entry > subnat. entry
KEN
3886
271    3886
272    3886
Name: DFO_matches_nr, dtype: object
2
New nr: 3886
0    3886
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
[4652, 4653]
512    [4652, 4653]
513    [4652, 4653]
Name: DFO_matches_nr, dtype: object
2
New nr: [4652, 4653]
0    [4652, 4653]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
LKA
3413
282    3413
283    3413
Name: DFO_matches_nr, dtype: object
2
New nr: 3413
0    3413
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MEX
3602
286    3602
287    3602
Name: DFO_matches_nr, dtype: object
2
New nr: 3602
0    3602
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MMR
4092
291    4092
292    4092
Name: DFO_matches_nr, dtype: object
2
New nr: 4092
0    4092
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ZAF
3426
515    3426
516    3426
Name: DFO_matches_nr, dtype: object
2
New nr: 3426
0    3426
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
TZA
4137
471    4137
472    4137
Name: DFO_matches_nr, dtype: object
2
New nr: 4137
0    4137
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MYS
4206
315    4206
316    4206
Name: DFO_matches_nr, dtype: object
2
New nr: 4206
0    4206
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
MYS
4432
317    4432
320    4432
321    4432
Name: DFO_matches_nr, dtype: object
3
New nr: 4432
0    4432
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
4432
464    4432
465    4432
Name: DFO_matches_nr, dtype: object
2
New nr: 4432
0    4432
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
4423
459    4423
461    4423
Name: DFO_matches_nr, dtype: object
2
New nr: 4423
0    4423
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
4423
508    4423
509    4423
Name: DFO_matches_nr, dtype: object
2
New nr: 4423
0    4423
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
NPL
4673
336    4673
337    4673
338    4673
339    4673
340    4673
341    4673
342    4673
343    4673
344    4673
345    4673
346    4673
347    4673
348    4673
349    4673
350    4673
351    4673
352    4673
353    4673
354    4673
355    4673
356    4673
357    4673
358    4673
359    4673
360    4673
361    4673
362    4673
363    4673
364    4673
365    4673
Name: DFO_matches_nr, dtype: object
30
New nr: 4673

0    4673
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
PAK
4640
382    4640
383    4640
Name: DFO_matches_nr, dtype: object
2
New nr: 4640
0    4640
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3427
392    3427
393    3427
394    3427
395    3427
396    3427
397    3427
398    3427
399    3427
400    3427
Name: DFO_matches_nr, dtype: object
9
New nr: 3427
0    3427
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3765
401    3765
402    3765
403    3765
404    3765
405    3765
406    3765
407    3765
408    3765
409    3765
410    3765
411    3765
412    3765
413    3765
414    3765
415    3765
Name: DFO_matches_nr, dtype: object
15
New nr: 3765
0    3765
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3884
416    3884
417    3884
Name: DFO_matches_nr, dtype: object
2
New nr: 3884
0    3884
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry > subnat. entry
THA
[4090, 4092]
451    [4090, 4092]
452    [4090, 4092]
Name: DFO_matches_nr, dtype: object
2
New nr: [4090, 4092]
0    [4090, 4092]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
4403
462    4403
463    4403
Name: DFO_matches_nr, dtype: object
2
New nr: 4403
0    4403
Name: DFO_matches_nr, dtype: object
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry dropped
nat. entry dropped
Number of succesfully matched IDMC events: 347
Number of individual DFO events: 204


provinces duplicate found
provinces duplicate found
provinces duplicate found
provinces duplicate found
provinces duplicate found
provinces duplicate found
Number of succesfully matched IDMC events: 337
Number of individual DFO events: 204


districts duplicate found
districts duplicate found
Number of succesfully matched IDMC events: 335
Number of individual DFO events: 204


FINAL:
Number of succesfully matched IDMC events: 335
Number of events without displacement numbers: 8

# EM-DAT functions

In [4]:
# Delete unneccessary rows and columns. 
# Check for national vs. subnational entries.
# Search for entries with the same GFD ID. 

def drop_columns_rows(df):
    
    df = df[df.columns.drop(df.filter(regex='Unnamed:'))]     
    df = df.drop([
       'Start Year', 'Start Mont', 'Start Day', 'End Year', 'End Month',
       'End Day'],axis=1)
    df = df.replace(-np.inf,np.nan)
    
    return df

def matches_filter(df):
    print('Number of EM-DAT flood events (2000-2018):',len(df))
    df = df[df.DFO_matches > 0]
    print('Number of succesfully matched EM-DAT events:',len(df),'\n\n')
    df = df.reset_index(drop=True)
    
    return df

def GDIS_duplicates(df):

    sum_columns = ['total_deaths','no_injured','no_affected_EMDAT','no_homeles',
                   'total_affected_EMDAT','total_damages_(000_USD)']

    mean_columns = [ 'DFO_matches_time_dif', 'DFO_duration',        
           'DFO_satellite_shape_pop_density_GHSL', 
            'DFO_satellite_shape_pop_density_GPW','affected_mean_GHSL','affected_mean_GPW','GDP_affected_mean',
           'CISI_global_affected_mean', 'cable_affected_mean',
           'plant_affected_mean', 'power_pole_affected_mean',
           'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
           'communication_tower_affected_mean', 'doctors_affected_mean',
           'hospital_affected_mean', 'pharmacy_affected_mean',
           'primary_road_affected_mean', 'tertiary_road_affected_mean',
           'reservoir_affected_mean', 'school_affected_mean',
           'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
           'urbanization_mean', 'landuse_total_mean', 'female_mean',               
           'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
           'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = ['DFO_satellite_shape_area','affected_sum_GHSL', 
                   'affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                   'power_pole_affected_sum', 'power_tower_affected_sum',
                   'line_affected_sum', 'mast_affected_sum',
                   'communication_tower_affected_sum', 'doctors_affected_sum',
                   'hospital_affected_sum', 'pharmacy_affected_sum',
                   'primary_road_affected_sum', 'tertiary_road_affected_sum',
                   'reservoir_affected_sum', 'school_affected_sum',
                   'university_affected_sum']
    
    for ID in df.DFO_matches_nr.unique():

        df_temp_1 = df[df['DFO_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]

            if len(df_temp_2) > 1: 
                
                print('nat. entry > subnat. entry')
                print(ISO3)
                print(ID)
                ISO3_temp = df_temp_2.ISO3.iloc[0]
                DFO_matches_temp = df_temp_2.DFO_matches.max()
                DFO_matching_type_temp = 3
                print(df_temp_2.DFO_matches_nr)
                print(len(df_temp_2.DFO_matches_nr))

                DFO_matches_nr_temp = ID
                print("New nr:",DFO_matches_nr_temp)
                disasterno_temp = ''
                
                for i in df_temp_2.disasterno:

                    if str(i) != 'nan':
                        disasterno_temp = disasterno_temp + str(i) + ','

                try:
                    if disasterno_temp[-1] == ',':
                        disasterno_temp = disasterno_temp[:-1]        
                except:
                    pass

                df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                try:
                    row_single = row_single.drop(['disasterno'],axis=1)
                except:
                    pass

                row_single.insert(0,'ISO3',ISO3_temp)
                row_single.insert(1,'DFO_matches',DFO_matches_temp)
                row_single.insert(2,'matching_type',DFO_matching_type_temp)
                row_single.insert(3,'DFO_matches_nr',DFO_matches_nr_temp)
                row_single.insert(4,'disasterno',disasterno_temp)
                row_single['year'] = np.round(df_temp_2.year.mean(),0)
                row_single = row_single.reindex(columns=df.columns)
                df = df.drop(df_temp_2.index.to_list())
                df = df.append(row_single)

                print(row_single.DFO_matches_nr)
             
    print('Number of succesfully matched EM-DAT events:',len(df))
    print("Number of individual DFO events:",len(df.DFO_matches_nr.unique()),'\n\n')
    df = df.reset_index(drop=True)    
    
    return(df)

# Launch (EM-DAT)

In [16]:
df = pd.read_csv(path_data_processed + "IDMC_EMDAT_GFD_match/EMDAT_GFD_connect_results_FL_merged.csv")
df.rename(columns={'iso3':'ISO3','Total Deat':'total_deaths', 'No Injured':'no_injured', 
                   'No Affecte':'no_affected_EMDAT', 'No Homeles':'no_homeles','Total Affe':'total_affected_EMDAT',
                   'Total Dama':'total_damages_(000_USD)',}, 
                     inplace=True)  

for i in range(len(df)):    
    ID = df.loc[i,'DFO_matches_nr']
    
    if "[" in str(ID) and len(ID) <= 6:        
        df.loc[i,'DFO_matches_nr'] = ID.replace('[','').replace(']','')
 
df = (df.
                pipe(drop_columns_rows).
                pipe(matches_filter).
                pipe(GDIS_duplicates)
             )

print("FINAL:")
print('Number of succesfully matched EM-DAT events:',len(df))
print('Number of events without fatalities and damages numbers:',len(df[df['total_damages_(000_USD)'].isnull() & df.total_deaths.isnull()]))

df.to_csv(path_FLODIS_final + 'FLODIS_fatalities_damages.csv')

Number of EM-DAT flood events (2000-2018): 2390
Number of succesfully matched EM-DAT events: 816


nat. entry > subnat. entry
VNM
2368
1      2368
553    2368
Name: DFO_matches_nr, dtype: object
2
New nr: 2368
0    2368
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MWI
2119
3      2119
519    2119
Name: DFO_matches_nr, dtype: object
2
New nr: 2119
0    2119
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2859
6      2859
250    2859
Name: DFO_matches_nr, dtype: object
2
New nr: 2859
0    2859
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
3061
12     3061
662    3061
Name: DFO_matches_nr, dtype: object
2
New nr: 3061
0    3061
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
1789
14     1789
441    1789
618    1789
Name: DFO_matches_nr, dtype: object
3
New nr: 1789
0    1789
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MNE
3756
55     3756
210    3756
Name: DFO_matches_nr, dtype: object
2
New nr: 3756
0    3756
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2279
19     2279
359    2279
628    2279
Name: DFO_matches_nr, dtype: object
3
New nr: 2279
0    2279
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
2279
451    2279
762    2279
Name: DFO_matches_nr, dtype: object
2
New nr: 2279
0    2279
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2279
490    2279
540    2279
Name: DFO_matches_nr, dtype: object
2
New nr: 2279
0    2279
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MLI
3166
373    3166
468    3166
Name: DFO_matches_nr, dtype: object
2
New nr: 3166
0    3166
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2935
25     2935
565    2935
568    2935
Name: DFO_matches_nr, dtype: object
3
New nr: 2935
0    2935
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
2935
38     2935
657    2935
Name: DFO_matches_nr, dtype: object
2
New nr: 2935
0    2935
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3427
26     3427
187    3427
378    3427
630    3427
Name: DFO_matches_nr, dtype: object
4
New nr: 3427
0    3427
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
4483
27     4483
736    4483
Name: DFO_matches_nr, dtype: object
2
New nr: 4483
0    4483
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4483
217    4483
243    4483
258    4483
Name: DFO_matches_nr, dtype: object
3
New nr: 4483
0    4483
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MRT
3180
586    3180
809    3180
Name: DFO_matches_nr, dtype: object
2
New nr: 3180
0    3180
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BGD
2570
36     2570
605    2570
Name: DFO_matches_nr, dtype: object
2
New nr: 2570
0    2570
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2570
170    2570
356    2570
Name: DFO_matches_nr, dtype: object
2
New nr: 2570
0    2570
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PRT
2117
42     2117
189    2117
Name: DFO_matches_nr, dtype: object
2
New nr: 2117
0    2117
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BEL
2117
222    2117
281    2117
Name: DFO_matches_nr, dtype: object
2
New nr: 2117
0    2117
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
3866
44     3866
278    3866
Name: DFO_matches_nr, dtype: object
2
New nr: 3866
0    3866
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[2019, 2023, 2035]
56     [2019, 2023, 2035]
293    [2019, 2023, 2035]
Name: DFO_matches_nr, dtype: object
2
New nr: [2019, 2023, 2035]
0    [2019, 2023, 2035]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
[2736, 2748]
58     [2736, 2748]
683    [2736, 2748]
Name: DFO_matches_nr, dtype: object
2
New nr: [2736, 2748]
0    [2736, 2748]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MOZ
3242
288    3242
420    3242
Name: DFO_matches_nr, dtype: object
2
New nr: 3242
0    3242
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MWI
3242
429    3242
524    3242
Name: DFO_matches_nr, dtype: object
2
New nr: 3242
0    3242
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
2515
66     2515
242    2515
351    2515
566    2515
801    2515
Name: DFO_matches_nr, dtype: object
5
New nr: 2515
0    2515
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ETH
3123
68     3123
348    3123
Name: DFO_matches_nr, dtype: object
2
New nr: 3123
0    3123
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
RUS
2650
69     2650
277    2650
679    2650
Name: DFO_matches_nr, dtype: object
3
New nr: 2650
0    2650
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4146
74     4146
105    4146
534    4146
778    4146
Name: DFO_matches_nr, dtype: object
4
New nr: 4146
0    4146
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
3101
76     3101
254    3101
Name: DFO_matches_nr, dtype: object
2
New nr: 3101
0    3101
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2931
83     2931
152    2931
325    2931
Name: DFO_matches_nr, dtype: object
3
New nr: 2931
0    2931
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2931
165    2931
728    2931
Name: DFO_matches_nr, dtype: object
2
New nr: 2931
0    2931
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
NIC
3490
216    3490
699    3490
Name: DFO_matches_nr, dtype: object
2
New nr: 3490
0    3490
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ROU
2692
146    2692
529    2692
753    2692
Name: DFO_matches_nr, dtype: object
3
New nr: 2692
0    2692
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BGR
2692
256    2692
633    2692
711    2692
Name: DFO_matches_nr, dtype: object
3
New nr: 2692
0    2692
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
2684
97     2684
563    2684
777    2684
Name: DFO_matches_nr, dtype: object
3
New nr: 2684
0    2684
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3674, 3679]
110    [3674, 3679]
401    [3674, 3679]
Name: DFO_matches_nr, dtype: object
2
New nr: [3674, 3679]
0    [3674, 3679]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2680
115    2680
782    2680
Name: DFO_matches_nr, dtype: object
2
New nr: 2680
0    2680
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2403
116    2403
791    2403
Name: DFO_matches_nr, dtype: object
2
New nr: 2403
0    2403
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[4507, 4508]
119    [4507, 4508]
512    [4507, 4508]
Name: DFO_matches_nr, dtype: object
2
New nr: [4507, 4508]
0    [4507, 4508]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4156
121    4156
729    4156
Name: DFO_matches_nr, dtype: object
2
New nr: 4156
0    4156
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3777
127    3777
200    3777
546    3777
Name: DFO_matches_nr, dtype: object
3
New nr: 3777
0    3777
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAN
3750
129    3750
438    3750
Name: DFO_matches_nr, dtype: object
2
New nr: 3750
0    3750
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
RUS
3916
135    3916
338    3916
Name: DFO_matches_nr, dtype: object
2
New nr: 3916
0    3916
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3884
138    3884
371    3884
425    3884
Name: DFO_matches_nr, dtype: object
3
New nr: 3884
0    3884
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
1781
538    1781
664    1781
Name: DFO_matches_nr, dtype: object
2
New nr: 1781
0    1781
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[3084, 3094]
142    [3084, 3094]
643    [3084, 3094]
Name: DFO_matches_nr, dtype: object
2
New nr: [3084, 3094]
0    [3084, 3094]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BOL
2120
148    2120
435    2120
Name: DFO_matches_nr, dtype: object
2
New nr: 2120
0    2120
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
1791
150    1791
506    1791
Name: DFO_matches_nr, dtype: object
2
New nr: 1791
0    1791
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MYS
2370
151    2370
750    2370
Name: DFO_matches_nr, dtype: object
2
New nr: 2370
0    2370
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
2370
203    2370
808    2370
Name: DFO_matches_nr, dtype: object
2
New nr: 2370
0    2370
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
[2948, 2949, 2951]
153    [2948, 2949, 2951]
330    [2948, 2949, 2951]
Name: DFO_matches_nr, dtype: object
2
New nr: [2948, 2949, 2951]
0    [2948, 2949, 2951]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
4378
156    4378
185    4378
Name: DFO_matches_nr, dtype: object
2
New nr: 4378

0    4378
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
USA
3083
160    3083
363    3083
Name: DFO_matches_nr, dtype: object
2
New nr: 3083
0    3083
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3900
162    3900
310    3900
339    3900
Name: DFO_matches_nr, dtype: object
3
New nr: 3900
0    3900
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GBR
4009
180    4009
402    4009
Name: DFO_matches_nr, dtype: object
2
New nr: 4009
0    4009
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PER
4117
433    4117
439    4117
Name: DFO_matches_nr, dtype: object
2
New nr: 4117
0    4117
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2890
207    2890
765    2890
Name: DFO_matches_nr, dtype: object
2
New nr: 2890
0    2890
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3716, 3717]
215    [3716, 3717]
251    [3716, 3717]
Name: DFO_matches_nr, dtype: object
2
New nr: [3716, 3717]
0    [3716, 3717]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4390
223    4390
597    4390
Name: DFO_matches_nr, dtype: object
2
New nr: 4390
0    4390
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
DOM
3915
227    3915
414    3915
Name: DFO_matches_nr, dtype: object
2
New nr: 3915
0    3915
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[4079, 4083]
233    [4079, 4083]
314    [4079, 4083]
Name: DFO_matches_nr, dtype: object
2
New nr: [4079, 4083]
0    [4079, 4083]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[2676, 2680, 2686, 2689, 2690]
236    [2676, 2680, 2686, 2689, 2690]
457    [2676, 2680, 2686, 2689, 2690]
Name: DFO_matches_nr, dtype: object
2
New nr: [2676, 2680, 2686, 2689, 2690]
0    [2676, 2680, 2686, 2689, 2690]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
3271
238    3271
521    3271
758    3271
Name: DFO_matches_nr, dtype: object
3
New nr: 3271
0    3271
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3305
245    3305
343    3305
Name: DFO_matches_nr, dtype: object
2
New nr: 3305
0    3305
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MDG
2633
263    2633
398    2633
Name: DFO_matches_nr, dtype: object
2
New nr: 2633
0    2633
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
3107
269    3107
443    3107
Name: DFO_matches_nr, dtype: object
2
New nr: 3107
0    3107
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
3055
291    3055
659    3055
Name: DFO_matches_nr, dtype: object
2
New nr: 3055
0    3055
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2632
285    2632
652    2632
Name: DFO_matches_nr, dtype: object
2
New nr: 2632
0    2632
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2896
286    2896
810    2896
Name: DFO_matches_nr, dtype: object
2
New nr: 2896
0    2896
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3656
298    3656
567    3656
Name: DFO_matches_nr, dtype: object
2
New nr: 3656
0    3656
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3216
303    3216
493    3216
681    3216
Name: DFO_matches_nr, dtype: object
3
New nr: 3216
0    3216
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2675
315    2675
480    2675
Name: DFO_matches_nr, dtype: object
2
New nr: 2675
0    2675
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GRC
2172
342    2172
804    2172
Name: DFO_matches_nr, dtype: object
2
New nr: 2172
0    2172
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
4382
353    4382
454    4382
Name: DFO_matches_nr, dtype: object
2
New nr: 4382
0    4382
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
3301
374    3301
730    3301
Name: DFO_matches_nr, dtype: object
2
New nr: 3301
0    3301
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
2900
375    2900
477    2900
611    2900
738    2900
Name: DFO_matches_nr, dtype: object
4
New nr: 2900
0    2900
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3765
383    3765
774    3765
Name: DFO_matches_nr, dtype: object
2
New nr: 3765
0    3765
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3327, 3338]
413    [3327, 3338]
551    [3327, 3338]
Name: DFO_matches_nr, dtype: object
2
New nr: [3327, 3338]
0    [3327, 3338]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3752
427    3752
706    3752
Name: DFO_matches_nr, dtype: object
2
New nr: 3752
0    3752
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
3210
432    3210
696    3210
704    3210
Name: DFO_matches_nr, dtype: object
3
New nr: 3210
0    3210
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
SOM
2955
444    2955
560    2955
Name: DFO_matches_nr, dtype: object
2
New nr: 2955
0    2955
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
[3247, 3252, 3257]
449    [3247, 3252, 3257]
779    [3247, 3252, 3257]
Name: DFO_matches_nr, dtype: object
2
New nr: [3247, 3252, 3257]
0    [3247, 3252, 3257]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ETH
2649
467    2649
719    2649
Name: DFO_matches_nr, dtype: object
2
New nr: 2649
0    2649
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
[3249, 3251]
499    [3249, 3251]
562    [3249, 3251]
Name: DFO_matches_nr, dtype: object
2
New nr: [3249, 3251]
0    [3249, 3251]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MEX
2717
695    2717
713    2717
Name: DFO_matches_nr, dtype: object
2
New nr: 2717
0    2717
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BRA
3846
591    3846
734    3846
Name: DFO_matches_nr, dtype: object
2
New nr: 3846
0    3846
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
3974
600    3974
627    3974
Name: DFO_matches_nr, dtype: object
2
New nr: 3974
0    3974
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
3141
617    3141
802    3141
Name: DFO_matches_nr, dtype: object
2
New nr: 3141
0    3141
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
USA
4337
623    4337
697    4337
Name: DFO_matches_nr, dtype: object
2
New nr: 4337
0    4337
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3371, 3382, 3383]
626    [3371, 3382, 3383]
726    [3371, 3382, 3383]
Name: DFO_matches_nr, dtype: object
2
New nr: [3371, 3382, 3383]
0    [3371, 3382, 3383]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
USA
3815
629    3815
735    3815
Name: DFO_matches_nr, dtype: object
2
New nr: 3815
0    3815
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2779
654    2779
811    2779
Name: DFO_matches_nr, dtype: object
2
New nr: 2779
0    2779
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GBR
3099
672    3099
701    3099
Name: DFO_matches_nr, dtype: object
2
New nr: 3099
0    3099
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BRA
3256
674    3256
761    3256
Name: DFO_matches_nr, dtype: object
2
New nr: 3256
0    3256
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3615
687    3615
721    3615
Name: DFO_matches_nr, dtype: object
2
New nr: 3615
0    3615
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3894
694    3894
737    3894
Name: DFO_matches_nr, dtype: object
2
New nr: 3894
0    3894
Name: DFO_matches_nr, dtype: object
Number of succesfully matched EM-DAT events: 695
Number of individual DFO events: 517


FINAL:
Number of succesfully matched EM-DAT events: 695
Number of events without fatalities and damages numbers: 114