# Postprocessing
Load matched disaster datasets, clean, and merge if matched with same GFD floods.

In [1]:
# Import modules
import os
import numpy as np
import pandas as pd 
import geopandas as gpd
from datetime import datetime
import itertools
import glob
          
# Create paths

def mkdir(dir):    
    if not os.path.exists(dir):
        os.mkdir(dir)
        
path_local = os.getcwd() + '/'
path_data = path_local + 'data/'
path_data_processed = path_local + 'data_processed/'
path_FLODIS_final = path_data_processed + 'FLODIS_final/'
path_FLODIS_final_creator = mkdir(path_FLODIS_final)

/home/mester/.local/lib/python3.7/site-packages/geopandas/_compat.py:110: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.3-CAPI-1.16.1). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

# IDMC functions

In [2]:
# Delete unneccessary rows and columns. 
# Check for national vs. subnational entries.
# Search for entries with the same GFD ID. 

def drop_columns_rows(df):
    
    df = df[df.columns.drop(df.filter(regex='Unnamed:'))]     
    df = df.drop([
       'event_name',
       'Hazard Category', 'Hazard Type',
       'country_only_info','provinces','districts',
  #     'num_provinces', 'num_districts',
       'start_date', 'Name',
       'idx', 
        'countries_forUKonly'],axis=1)
    df = df.replace(-np.inf,np.nan)
    
    return df

def matches_filter(df):
    print('Number of IDMC flood events (2008-2018):',len(df))
    df = df[df.GFD_matches > 0]
    print('Number of succesfully matched IDMC events:',len(df),'\n\n')
    df = df.reset_index(drop=True)
    
    return df


def nat_vs_subnat(df):

    sum_columns = ['displacements',]

    mean_columns = [ 'GFD_matches_time_dif', 'GFD_duration',        
           'pop_density_GHSL', 
           'pop_density_GPW','pop_affected_mean_GHSL','pop_affected_mean_GPW','GDP_affected_mean',
           'education_affected_mean','energy_affected_mean','health_affected_mean',
           'telecommunication_affected_mean','transportation_affected_mean','water_affected_mean',
           'CISI_global_affected_mean', 'cable_affected_mean',
           'plant_affected_mean', 'power_pole_affected_mean',
           'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
           'communication_tower_affected_mean', 'doctors_affected_mean',
           'hospital_affected_mean', 'pharmacy_affected_mean',
           'primary_road_affected_mean', 'tertiary_road_affected_mean',
           'reservoir_affected_mean', 'school_affected_mean',
           'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
           'urbanization_mean', 'landuse_total_mean', 
           'elevation_mean','roughness_mean','slope_mean','female_mean',               
           'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
           'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = ['pop_affected_sum_GHSL', 
                   'pop_affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                   'power_pole_affected_sum', 'power_tower_affected_sum',
                   'line_affected_sum', 'mast_affected_sum',
                   'communication_tower_affected_sum', 'doctors_affected_sum',
                   'hospital_affected_sum', 'pharmacy_affected_sum',
                   'primary_road_affected_sum', 'tertiary_road_affected_sum',
                   'reservoir_affected_sum', 'school_affected_sum',
                   'university_affected_sum']
    
    for ID in df.GFD_matches_nr.unique():

        df_temp_1 = df[df['GFD_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]

            if len(df_temp_2) > 1: 
                df_nat = df_temp_2[((df_temp_2.GID_1.isnull()) & (df_temp_2.GID_2.isnull()))]
                df_non_nat = df_temp_2.drop(df_nat.index.to_list()) 

                if df_nat.displacements.sum() > df_non_nat.displacements.sum():
                    print('nat. entry > subnat. entry')
                    print(ISO3)
                    print(ID)
                    ISO3_temp = df_temp_2.ISO3.iloc[0]
                    GFD_matches_temp = df_temp_2.GFD_matches.max()
                    GFD_matching_type_temp = 3
                    print(df_temp_2.GFD_matches_nr)
                    print(len(df_temp_2.GFD_matches_nr))
                    
                    GFD_matches_nr_temp = ID
                    print("New nr:",GFD_matches_nr_temp)
                    GID_1_temp = ''
                    GID_2_temp = ''

                    for i in df_temp_2.GID_1:
                        
                        if str(i) != 'nan':
                            GID_1_temp = GID_1_temp + str(i) + ','

                    try:
                        if GID_1_temp[-1] == ',':
                            GID_1_temp = GID_1_temp[:-1]        
                    except:
                        pass

                    for i in df_temp_2.GID_2:
                        
                        if str(i) != 'nan':
                            GID_2_temp = GID_2_temp + str(i) + ','

                    try:
                        if GID_2_temp[-1] == ',':
                            GID_2_temp = GID_2_temp[:-1]        
                    except:
                        pass
                    
                    if len(GID_1_temp) > 1:
                        GID_1_temp_len = len(GID_1_temp.split(','))
                        
                    else:
                        GID_1_temp_len = np.nan
                        
                    
                    if len(GID_2_temp) > 1:
                        GID_2_temp_len = len(GID_2_temp.split(','))
                        
                    else:
                        GID_2_temp_len = np.nan

                    df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                    df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                    df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                    row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                    try:
                        row_single = row_single.drop(['GID_1'],axis=1)
                    except:
                        pass
                    try:
                        row_single = row_single.drop(['GID_2'],axis=1)
                    except:
                        pass

                    row_single.insert(0,'ISO3',ISO3_temp)
                    row_single.insert(1,'GFD_matches',GFD_matches_temp)
                    row_single.insert(2,'GFD_matches_nr',GFD_matches_nr_temp)
                    row_single.insert(3,'matching_type',GFD_matching_type_temp)
                    row_single.insert(4,'GID_1',GID_1_temp)
                    row_single.insert(5,'GID_2',GID_2_temp)
                    row_single.insert(6,'num_provinces',GID_1_temp_len)
                    row_single.insert(7,'num_districts',GID_2_temp_len)
                    row_single['year'] = np.round(df_temp_2.year.mean(),0)
                    row_single = row_single.reindex(columns=df.columns)
                    df = df.drop(df_temp_2.index.to_list())
                    df = df.append(row_single)
                    
                    print(row_single.GFD_matches_nr)
                   
                else:
                    print('nat. entry dropped')
                    df = df.drop(df_nat.index.to_list())
   
    print('Number of succesfully matched IDMC events:',len(df))
    print("Number of individual GFD events:",len(df.GFD_matches_nr.unique()),'\n\n')
    df = df.reset_index(drop=True)    
    
    return(df)

def province_duplicate_merger(df):
    
    sum_columns = ['displacements',]

    mean_columns = ['GFD_matches_time_dif', 'GFD_duration',        
                    'pop_density_GHSL', 
                    'pop_density_GPW',
                    'pop_affected_sum_GHSL', 
                    'pop_affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                    'power_pole_affected_sum', 'power_tower_affected_sum',
                    'line_affected_sum', 'mast_affected_sum',
                    'communication_tower_affected_sum', 'doctors_affected_sum',
                    'hospital_affected_sum', 'pharmacy_affected_sum',
                    'primary_road_affected_sum', 'tertiary_road_affected_sum',
                    'reservoir_affected_sum', 'school_affected_sum',
                    'university_affected_sum',
                    'affected_mean_GHSL','affected_mean_GPW','GDP_affected_mean',
                    'education_affected_mean','energy_affected_mean','health_affected_mean',
                    'telecommunication_affected_mean','transportation_affected_mean','water_affected_mean',
                    'CISI_global_affected_mean', 'cable_affected_mean',
                    'plant_affected_mean', 'power_pole_affected_mean',
                    'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
                    'communication_tower_affected_mean', 'doctors_affected_mean',
                    'hospital_affected_mean', 'pharmacy_affected_mean',
                    'primary_road_affected_mean', 'tertiary_road_affected_mean',
                    'reservoir_affected_mean', 'school_affected_mean',
                    'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
                    'urbanization_mean', 'landuse_total_mean', 'elevation_mean','roughness_mean',
                    'slope_mean','female_mean',               
                    'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
                    'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = []

    for ID in df.GFD_matches_nr.unique():

        df_temp_1 = df[df['GFD_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]
            df_temp_3 = df_temp_2[~(df_temp_2.GID_1.isnull())]

            if len(df_temp_3) > 1:

                if df_temp_3[df_temp_3.GID_1.duplicated()].empty == False:

                    print('provinces duplicate found')

                    duplicated_GID_1 = df_temp_3[df_temp_3.GID_1.duplicated()].GID_1.iloc[0]
                    df_temp_4 = df_temp_3[df_temp_3.GID_1 == duplicated_GID_1]
                    ISO3_temp = df_temp_4.ISO3.iloc[0]            
                    GFD_matches_temp = df_temp_4.GFD_matches.max()
                    GFD_matching_type_temp = 4
                    GFD_matches_nr_temp = ID
                    GID_1_temp = duplicated_GID_1
                    GID_2_temp = ''

                    for i in df_temp_4.GID_2:
                        
                        if str(i) != 'nan':
                            GID_2_temp = GID_2_temp + str(i) + ','

                    try:
                        if GID_2_temp[-1] == ',':
                            GID_2_temp = GID_2_temp[:-1]        
                    except:
                        pass
                    
                    if len(GID_1_temp) > 1:
                        GID_1_temp_len = len(GID_1_temp.split(','))
                        
                    else:
                        GID_1_temp_len = np.nan
                    
                    if len(GID_2_temp) > 1:
                        GID_2_temp_len = len(GID_2_temp.split(','))
                        
                    else:
                        GID_2_temp_len = np.nan
                        
                    df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                    df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                    df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                    row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                    try:
                        row_single = row_single.drop(['GID_1'],axis=1)
                    except:
                        pass
                    try:
                        row_single = row_single.drop(['GID_2'],axis=1)
                    except:
                        pass

                    row_single.insert(0,'ISO3',ISO3_temp)
                    row_single.insert(1,'GFD_matches',GFD_matches_temp)
                    row_single.insert(2,'GFD_matches_nr',GFD_matches_nr_temp)
                    row_single.insert(3,'matching_type',GFD_matching_type_temp)
                    row_single.insert(4,'GID_1',GID_1_temp)
                    row_single.insert(5,'GID_2',GID_2_temp)
                    row_single.insert(6,'num_provinces',GID_1_temp_len)
                    row_single.insert(7,'num_districts',GID_2_temp_len)
                    row_single['year'] = np.round(df_temp_4.year.mean(),0)
                    row_single = row_single.reindex(columns=df.columns)
                    df = df.drop(df_temp_4.index.to_list())
                    df = df.append(row_single)

    df = df.reset_index(drop=True)
    
    print('Number of succesfully matched IDMC events:',len(df))
    print("Number of individual GFD events:",len(df.GFD_matches_nr.unique()),'\n\n') 
    
    return(df)

def district_duplicate_merger(df):
    
    sum_columns = ['displacements',]

    mean_columns = ['GFD_matches_time_dif', 'GFD_duration',        
                    'pop_density_GHSL', 
                    'pop_density_GPW',
                    'pop_affected_sum_GHSL', 
                    'pop_affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                    'power_pole_affected_sum', 'power_tower_affected_sum',
                    'line_affected_sum', 'mast_affected_sum',
                    'communication_tower_affected_sum', 'doctors_affected_sum',
                    'hospital_affected_sum', 'pharmacy_affected_sum',
                    'primary_road_affected_sum', 'tertiary_road_affected_sum',
                    'reservoir_affected_sum', 'school_affected_sum',
                    'university_affected_sum',
                    'affected_mean_GHSL','affected_mean_GPW','GDP_affected_mean',
                    'education_affected_mean','energy_affected_mean','health_affected_mean',
                    'telecommunication_affected_mean','transportation_affected_mean','water_affected_mean',
                    'CISI_global_affected_mean', 'cable_affected_mean',
                    'plant_affected_mean', 'power_pole_affected_mean',
                    'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
                    'communication_tower_affected_mean', 'doctors_affected_mean',
                    'hospital_affected_mean', 'pharmacy_affected_mean',
                    'primary_road_affected_mean', 'tertiary_road_affected_mean',
                    'reservoir_affected_mean', 'school_affected_mean',
                    'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
                    'urbanization_mean', 'landuse_total_mean', 'elevation_mean','roughness_mean',
                    'slope_mean','female_mean',  
                    'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
                    'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = []

    for ID in df.GFD_matches_nr.unique():

        df_temp_1 = df[df['GFD_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]
            df_temp_3 = df_temp_2[~(df_temp_2.GID_2.isnull())]

            if len(df_temp_3) > 1:

                if df_temp_3[df_temp_3.GID_2.duplicated()].empty == False:

                    print('districts duplicate found')

                    duplicated_GID_2 = df_temp_3[df_temp_3.GID_2.duplicated()].GID_2.iloc[0]
                    df_temp_4 = df_temp_3[df_temp_3.GID_2 == duplicated_GID_2]
                    ISO3_temp = df_temp_4.ISO3.iloc[0]            
                    GFD_matches_temp = df_temp_4.GFD_matches.max()
                    GFD_matching_type_temp = 5
                    GFD_matches_nr_temp = ID          
                    GID_1_temp = '' 
                    GID_2_temp = duplicated_GID_2 
                    
                    for i in df_temp_4.GID_1:
                        
                        if str(i) != 'nan':
                            GID_1_temp = GID_1_temp + str(i) + ','

                    try:
                        if GID_1_temp[-1] == ',':
                            GID_1_temp = GID_1_temp[:-1]        
                    except:
                        pass
                    
                    
                    if len(GID_1_temp) > 1:
                        GID_1_temp_len = len(GID_1_temp.split(','))
                        
                    else:
                        GID_1_temp_len = np.nan
                        
                    
                    if len(GID_2_temp) > 1:
                        GID_2_temp_len = len(GID_2_temp.split(','))
                        
                    else:
                        GID_2_temp_len = np.nan
                        
                    df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                    df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                    df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                    row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                    try:
                        row_single = row_single.drop(['GID_1'],axis=1)
                    except:
                        pass
                    try:
                        row_single = row_single.drop(['GID_2'],axis=1)
                    except:
                        pass

                    row_single.insert(0,'ISO3',ISO3_temp)
                    row_single.insert(1,'GFD_matches',GFD_matches_temp)
                    row_single.insert(2,'matching_type',GFD_matching_type_temp)
                    row_single.insert(3,'GFD_matches_nr',GFD_matches_nr_temp)
                    row_single.insert(4,'GID_1',GID_1_temp)
                    row_single.insert(5,'GID_2',GID_2_temp)
                    row_single.insert(6,'num_provinces',GID_1_temp_len)
                    row_single.insert(7,'num_districts',GID_2_temp_len)
                    row_single['year'] = np.round(df_temp_4.year.mean(),0)
                    row_single = row_single.reindex(columns=df.columns)
                    df = df.drop(df_temp_4.index.to_list())
                    df = df.append(row_single)
  
    df = df.reset_index(drop=True) 
    print('Number of succesfully matched IDMC events:',len(df))
    print("Number of individual GFD events:",len(df.GFD_matches_nr.unique()),'\n\n') 
    
    return(df)

# Launch (IDMC)

In [16]:
df = pd.read_csv(path_data_processed + "IDMC_EMDAT_GFD_match/IDMC_GFD_connect_results_FL_merged2.csv") #,sep='delimiter'
df.rename(columns={'Internal Displacements':'displacements','Year':'year'}, 
                     inplace=True)    

for i in range(len(df)):    
    ID = df.loc[i,'GFD_matches_nr']
    
    if "[" in str(ID) and len(ID) <= 6:        
        df.loc[i,'GFD_matches_nr'] = ID.replace('[','').replace(']','')
        
df = (df.
                pipe(drop_columns_rows).
                pipe(matches_filter).
                pipe(nat_vs_subnat).
                pipe(province_duplicate_merger).
                pipe(district_duplicate_merger)
             )

print("FINAL:")
print('Number of succesfully matched IDMC events:',len(df))
print('Number of events without displacement numbers:',len(df[df.displacements.isnull()]))

df.to_csv(path_FLODIS_final + 'FLODIS_displacements.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 14, saw 2

# EM-DAT functions

In [5]:
# Delete unneccessary rows and columns. 
# Check for national vs. subnational entries.
# Search for entries with the same GFD ID. 

def drop_columns_rows(df):
    
    df = df[df.columns.drop(df.filter(regex='Unnamed:'))]     
    df = df.drop([
       'Start Year', 'Start Mont', 'Start Day', 'End Year', 'End Month',
       'End Day'],axis=1)
    df = df.replace(-np.inf,np.nan)
    
    return df

def matches_filter(df):
    print('Number of EM-DAT flood events (2000-2018):',len(df))
    df = df[df.GFD_matches > 0]
    print('Number of succesfully matched EM-DAT events:',len(df),'\n\n')
    df = df.reset_index(drop=True)
    
    return df

def GDIS_duplicates(df):

    sum_columns = ['total_deaths','no_injured','no_affected_EMDAT','no_homeles',
                   'total_affected_EMDAT','total_damages_(000_USD)']

    mean_columns = [ 'GFD_matches_time_dif', 'GFD_duration',        
           'pop_density_GHSL', 
           'pop_density_GPW','pop_affected_mean_GHSL','pop_affected_mean_GPW','GDP_affected_mean',
           'education_affected_mean','energy_affected_mean','health_affected_mean',
           'telecommunication_affected_mean','transportation_affected_mean','water_affected_mean',
           'CISI_global_affected_mean', 'cable_affected_mean',
           'plant_affected_mean', 'power_pole_affected_mean',
           'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
           'communication_tower_affected_mean', 'doctors_affected_mean',
           'hospital_affected_mean', 'pharmacy_affected_mean',
           'primary_road_affected_mean', 'tertiary_road_affected_mean',
           'reservoir_affected_mean', 'school_affected_mean',
           'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
           'urbanization_mean', 'landuse_total_mean', 'elevation_mean','roughness_mean',
           'slope_mean','female_mean',               
           'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
           'FLOPROS_modeled_mean', 'forest_cover_mean']

    max_columns = ['pop_affected_sum_GHSL', 
                   'pop_affected_sum_GPW','GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
                   'power_pole_affected_sum', 'power_tower_affected_sum',
                   'line_affected_sum', 'mast_affected_sum',
                   'communication_tower_affected_sum', 'doctors_affected_sum',
                   'hospital_affected_sum', 'pharmacy_affected_sum',
                   'primary_road_affected_sum', 'tertiary_road_affected_sum',
                   'reservoir_affected_sum', 'school_affected_sum',
                   'university_affected_sum']
    
    for ID in df.GFD_matches_nr.unique():

        df_temp_1 = df[df['GFD_matches_nr']==ID]

        for ISO3 in df_temp_1.ISO3.unique():

            df_temp_2 = df_temp_1[df_temp_1.ISO3 == ISO3]

            if len(df_temp_2) > 1: 
                
                print(ISO3)
                print(ID)
                ISO3_temp = df_temp_2.ISO3.iloc[0]
                GFD_matches_temp = df_temp_2.GFD_matches.max()
                GFD_matching_type_temp = 3
                print(df_temp_2.GFD_matches_nr)
                print(len(df_temp_2.GFD_matches_nr))

                GFD_matches_nr_temp = ID
                print("New nr:",GFD_matches_nr_temp)
                disasterno_temp = ''
                
                for i in df_temp_2.disasterno:

                    if str(i) != 'nan':
                        disasterno_temp = disasterno_temp + str(i) + ','

                try:
                    if disasterno_temp[-1] == ',':
                        disasterno_temp = disasterno_temp[:-1]        
                except:
                    pass

                df_max = pd.DataFrame(df_temp_2[max_columns].max()).T
                df_mean = pd.DataFrame(df_temp_2[mean_columns].mean()).T
                df_sum = pd.DataFrame(df_temp_2[sum_columns].sum()).T
                row_single = pd.concat([df_sum,df_max,df_mean], axis=1)

                try:
                    row_single = row_single.drop(['disasterno'],axis=1)
                except:
                    pass

                row_single.insert(0,'ISO3',ISO3_temp)
                row_single.insert(1,'GFD_matches',GFD_matches_temp)
                row_single.insert(2,'GFD_matches_nr',GFD_matches_nr_temp)
                row_single.insert(3,'matching_type',GFD_matching_type_temp)
                row_single.insert(4,'disasterno',disasterno_temp)
                row_single['year'] = np.round(df_temp_2.year.mean(),0)
                row_single = row_single.reindex(columns=df.columns)
                df = df.drop(df_temp_2.index.to_list())
                df = df.append(row_single)

                print(row_single.GFD_matches_nr)
             
    print('Number of succesfully matched EM-DAT events:',len(df))
    print("Number of individual GFD events:",len(df.GFD_matches_nr.unique()),'\n\n')
    df = df.reset_index(drop=True)    
    
    return(df)

# Launch (EM-DAT)

In [6]:
df = pd.read_csv(path_data_processed + "IDMC_EMDAT_GFD_match/EMDAT_GFD_connect_results_FL_merged.csv")
df.rename(columns={'iso3':'ISO3','Total Deat':'total_deaths', 'No Injured':'no_injured', 
                   'No Affecte':'no_affected_EMDAT', 'No Homeles':'no_homeles','Total Affe':'total_affected_EMDAT',
                   'Total Dama':'total_damages_(000_USD)',}, 
                     inplace=True)  

for i in range(len(df)):    
    ID = df.loc[i,'GFD_matches_nr']
    
    if "[" in str(ID) and len(ID) <= 6:        
        df.loc[i,'GFD_matches_nr'] = ID.replace('[','').replace(']','')
 
df = (df.
                pipe(drop_columns_rows).
                pipe(matches_filter).
                pipe(GDIS_duplicates)
             )

print("FINAL:")
print('Number of succesfully matched EM-DAT events:',len(df))
print('Number of events without fatalities and damages numbers:',len(df[df['total_damages_(000_USD)'].isnull() & df.total_deaths.isnull()]))

df.to_csv(path_FLODIS_final + 'FLODIS_fatalities_damages.csv')

Number of EM-DAT flood events (2000-2018): 2390
Number of succesfully matched EM-DAT events: 820


nat. entry > subnat. entry
VNM
2368
1      2368
556    2368
Name: DFO_matches_nr, dtype: object
2
New nr: 2368
0    2368
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MWI
2119
3      2119
522    2119
Name: DFO_matches_nr, dtype: object
2
New nr: 2119
0    2119
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2859
6      2859
252    2859
Name: DFO_matches_nr, dtype: object
2
New nr: 2859
0    2859
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
3061
12     3061
666    3061
Name: DFO_matches_nr, dtype: object
2
New nr: 3061
0    3061
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
1789
14     1789
443    1789
622    1789
Name: DFO_matches_nr, dtype: object
3
New nr: 1789
0    1789
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MNE
3756
55     3756
211    3756
Name: DFO_matches_nr, dtype: object
2
New nr: 3756
0    3756
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2279
19     2279
361    2279
632    2279
Name: DFO_matches_nr, dtype: object
3
New nr: 2279
0    2279
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
2279
453    2279
766    2279
Name: DFO_matches_nr, dtype: object
2
New nr: 2279
0    2279
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2279
493    2279
543    2279
Name: DFO_matches_nr, dtype: object
2
New nr: 2279
0    2279
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MLI
3166
375    3166
470    3166
Name: DFO_matches_nr, dtype: object
2
New nr: 3166
0    3166
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2935
25     2935
569    2935
572    2935
Name: DFO_matches_nr, dtype: object
3
New nr: 2935
0    2935
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
2935
38     2935
661    2935
Name: DFO_matches_nr, dtype: object
2
New nr: 2935
0    2935
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3427
26     3427
188    3427
380    3427
634    3427
Name: DFO_matches_nr, dtype: object
4
New nr: 3427
0    3427
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
4483
27     4483
740    4483
Name: DFO_matches_nr, dtype: object
2
New nr: 4483
0    4483
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4483
218    4483
245    4483
260    4483
Name: DFO_matches_nr, dtype: object
3
New nr: 4483
0    4483
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MRT
3180
590    3180
813    3180
Name: DFO_matches_nr, dtype: object
2
New nr: 3180
0    3180
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BGD
2570
36     2570
609    2570
Name: DFO_matches_nr, dtype: object
2
New nr: 2570
0    2570
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2570
170    2570
358    2570
Name: DFO_matches_nr, dtype: object
2
New nr: 2570
0    2570
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PRT
2117
42     2117
190    2117
Name: DFO_matches_nr, dtype: object
2
New nr: 2117
0    2117
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BEL
2117
223    2117
283    2117
Name: DFO_matches_nr, dtype: object
2
New nr: 2117
0    2117
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
3866
44     3866
280    3866
Name: DFO_matches_nr, dtype: object
2
New nr: 3866
0    3866
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[2019, 2023, 2035]
56     [2019, 2023, 2035]
295    [2019, 2023, 2035]
Name: DFO_matches_nr, dtype: object
2
New nr: [2019, 2023, 2035]
0    [2019, 2023, 2035]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
[2736, 2748]
58     [2736, 2748]
687    [2736, 2748]
Name: DFO_matches_nr, dtype: object
2
New nr: [2736, 2748]
0    [2736, 2748]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MOZ
3242
290    3242
422    3242
Name: DFO_matches_nr, dtype: object
2
New nr: 3242
0    3242
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MWI
3242
431    3242
527    3242
Name: DFO_matches_nr, dtype: object
2
New nr: 3242
0    3242
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
2515
66     2515
244    2515
353    2515
570    2515
805    2515
Name: DFO_matches_nr, dtype: object
5
New nr: 2515
0    2515
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ETH
3123
68     3123
350    3123
Name: DFO_matches_nr, dtype: object
2
New nr: 3123
0    3123
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
RUS
2650
69     2650
279    2650
683    2650
Name: DFO_matches_nr, dtype: object
3
New nr: 2650
0    2650
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4146
74     4146
105    4146
537    4146
782    4146
Name: DFO_matches_nr, dtype: object
4
New nr: 4146
0    4146
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
3101
76     3101
256    3101
Name: DFO_matches_nr, dtype: object
2
New nr: 3101
0    3101
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2931
83     2931
152    2931
327    2931
Name: DFO_matches_nr, dtype: object
3
New nr: 2931
0    2931
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2931
165    2931
732    2931
Name: DFO_matches_nr, dtype: object
2
New nr: 2931
0    2931
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
NIC
3490
217    3490
703    3490
Name: DFO_matches_nr, dtype: object
2
New nr: 3490
0    3490
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ROU
2692
146    2692
532    2692
757    2692
Name: DFO_matches_nr, dtype: object
3
New nr: 2692
0    2692
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BGR
2692
258    2692
637    2692
715    2692
Name: DFO_matches_nr, dtype: object
3
New nr: 2692
0    2692
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
2684
97     2684
567    2684
781    2684
Name: DFO_matches_nr, dtype: object
3
New nr: 2684
0    2684
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3674, 3679]
110    [3674, 3679]
403    [3674, 3679]
Name: DFO_matches_nr, dtype: object
2
New nr: [3674, 3679]
0    [3674, 3679]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
2680
115    2680
786    2680
Name: DFO_matches_nr, dtype: object
2
New nr: 2680
0    2680
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2403
116    2403
795    2403
Name: DFO_matches_nr, dtype: object
2
New nr: 2403
0    2403
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[4507, 4508]
119    [4507, 4508]
515    [4507, 4508]
Name: DFO_matches_nr, dtype: object
2
New nr: [4507, 4508]
0    [4507, 4508]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4156
121    4156
733    4156
Name: DFO_matches_nr, dtype: object
2
New nr: 4156
0    4156
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3777
127    3777
201    3777
549    3777
Name: DFO_matches_nr, dtype: object
3
New nr: 3777
0    3777
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAN
3750
129    3750
440    3750
Name: DFO_matches_nr, dtype: object
2
New nr: 3750
0    3750
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
RUS
3916
135    3916
340    3916
Name: DFO_matches_nr, dtype: object
2
New nr: 3916
0    3916
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3884
138    3884
373    3884
427    3884
Name: DFO_matches_nr, dtype: object
3
New nr: 3884
0    3884
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
1781
541    1781
668    1781
Name: DFO_matches_nr, dtype: object
2
New nr: 1781
0    1781
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[3084, 3094]
142    [3084, 3094]
647    [3084, 3094]
Name: DFO_matches_nr, dtype: object
2
New nr: [3084, 3094]
0    [3084, 3094]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BOL
2120
148    2120
437    2120
Name: DFO_matches_nr, dtype: object
2
New nr: 2120
0    2120
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
1791
150    1791
509    1791
Name: DFO_matches_nr, dtype: object
2
New nr: 1791
0    1791
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MYS
2370
151    2370
754    2370
Name: DFO_matches_nr, dtype: object
2
New nr: 2370
0    2370
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
THA
2370
204    2370
812    2370
Name: DFO_matches_nr, dtype: object
2
New nr: 2370
0    2370
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
[2948, 2949, 2951]
153    [2948, 2949, 2951]
332    [2948, 2949, 2951]
Name: DFO_matches_nr, dtype: object
2
New nr: [2948, 2949, 2951]
0    [2948, 2949, 2951]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
4378
156    4378
186    4378
Name: DFO_matches_nr, dtype: object
2
New nr: 4378
0    4378
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
USA
3083
160    3083
365    3083
Name: DFO_matches_nr, dtype: object
2
New nr: 3083
0    3083
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3900
162    3900
312    3900
341    3900
Name: DFO_matches_nr, dtype: object
3
New nr: 3900
0    3900
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GRC
2099
177    2099
224    2099
563    2099
Name: DFO_matches_nr, dtype: object
3
New nr: 2099

0    2099
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GBR
4009
181    4009
404    4009
Name: DFO_matches_nr, dtype: object
2
New nr: 4009
0    4009
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PER
4117
435    4117
441    4117
Name: DFO_matches_nr, dtype: object
2
New nr: 4117
0    4117
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2890
208    2890
769    2890
Name: DFO_matches_nr, dtype: object
2
New nr: 2890
0    2890
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3716, 3717]
216    [3716, 3717]
253    [3716, 3717]
Name: DFO_matches_nr, dtype: object
2
New nr: [3716, 3717]
0    [3716, 3717]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
4390
225    4390
601    4390
Name: DFO_matches_nr, dtype: object
2
New nr: 4390
0    4390
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
DOM
3915
229    3915
416    3915
Name: DFO_matches_nr, dtype: object
2
New nr: 3915
0    3915
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
[4079, 4083]
235    [4079, 4083]
316    [4079, 4083]
Name: DFO_matches_nr, dtype: object
2
New nr: [4079, 4083]
0    [4079, 4083]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[2676, 2680, 2686, 2689, 2690]
238    [2676, 2680, 2686, 2689, 2690]
459    [2676, 2680, 2686, 2689, 2690]
Name: DFO_matches_nr, dtype: object
2
New nr: [2676, 2680, 2686, 2689, 2690]
0    [2676, 2680, 2686, 2689, 2690]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
3271
240    3271
524    3271
762    3271
Name: DFO_matches_nr, dtype: object
3
New nr: 3271
0    3271
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3305
247    3305
345    3305
Name: DFO_matches_nr, dtype: object
2
New nr: 3305
0    3305
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MDG
2633
265    2633
400    2633
Name: DFO_matches_nr, dtype: object
2
New nr: 2633
0    2633
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
3107
271    3107
445    3107
Name: DFO_matches_nr, dtype: object
2
New nr: 3107
0    3107
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
3055
293    3055
663    3055
Name: DFO_matches_nr, dtype: object
2
New nr: 3055
0    3055
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2632
287    2632
656    2632
Name: DFO_matches_nr, dtype: object
2
New nr: 2632
0    2632
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2896
288    2896
814    2896
Name: DFO_matches_nr, dtype: object
2
New nr: 2896
0    2896
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3656
300    3656
571    3656
Name: DFO_matches_nr, dtype: object
2
New nr: 3656
0    3656
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3216
305    3216
496    3216
685    3216
Name: DFO_matches_nr, dtype: object
3
New nr: 3216
0    3216
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AFG
2675
317    2675
482    2675
Name: DFO_matches_nr, dtype: object
2
New nr: 2675
0    2675
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GRC
2172
344    2172
808    2172
Name: DFO_matches_nr, dtype: object
2
New nr: 2172
0    2172
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
4382
355    4382
456    4382
Name: DFO_matches_nr, dtype: object
2
New nr: 4382
0    4382
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
3301
376    3301
734    3301
Name: DFO_matches_nr, dtype: object
2
New nr: 3301
0    3301
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
CHN
2900
377    2900
479    2900
615    2900
742    2900
Name: DFO_matches_nr, dtype: object
4
New nr: 2900
0    2900
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PHL
3765
385    3765
778    3765
Name: DFO_matches_nr, dtype: object
2
New nr: 3765
0    3765
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3327, 3338]
415    [3327, 3338]
554    [3327, 3338]
Name: DFO_matches_nr, dtype: object
2
New nr: [3327, 3338]
0    [3327, 3338]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3752
429    3752
710    3752
Name: DFO_matches_nr, dtype: object
2
New nr: 3752
0    3752
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
VNM
3210
434    3210
700    3210
708    3210
Name: DFO_matches_nr, dtype: object
3
New nr: 3210
0    3210
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
SOM
2955
446    2955
564    2955
Name: DFO_matches_nr, dtype: object
2
New nr: 2955
0    2955
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
[3247, 3252, 3257]
451    [3247, 3252, 3257]
783    [3247, 3252, 3257]
Name: DFO_matches_nr, dtype: object
2
New nr: [3247, 3252, 3257]
0    [3247, 3252, 3257]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
ETH
2649
469    2649
723    2649
Name: DFO_matches_nr, dtype: object
2
New nr: 2649
0    2649
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
[3249, 3251]
502    [3249, 3251]
566    [3249, 3251]
Name: DFO_matches_nr, dtype: object
2
New nr: [3249, 3251]
0    [3249, 3251]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
MEX
2717
699    2717
717    2717
Name: DFO_matches_nr, dtype: object
2
New nr: 2717
0    2717
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BRA
3846
595    3846
738    3846
Name: DFO_matches_nr, dtype: object
2
New nr: 3846
0    3846
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
PAK
3974
604    3974
631    3974
Name: DFO_matches_nr, dtype: object
2
New nr: 3974
0    3974
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
3141
621    3141
806    3141
Name: DFO_matches_nr, dtype: object
2
New nr: 3141
0    3141
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
USA
4337
627    4337
701    4337
Name: DFO_matches_nr, dtype: object
2
New nr: 4337
0    4337
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IND
[3371, 3382, 3383]
630    [3371, 3382, 3383]
730    [3371, 3382, 3383]
Name: DFO_matches_nr, dtype: object
2
New nr: [3371, 3382, 3383]
0    [3371, 3382, 3383]
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
USA
3815
633    3815
739    3815
Name: DFO_matches_nr, dtype: object
2
New nr: 3815
0    3815
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
IDN
2779
658    2779
815    2779
Name: DFO_matches_nr, dtype: object
2
New nr: 2779
0    2779
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
GBR
3099
676    3099
705    3099
Name: DFO_matches_nr, dtype: object
2
New nr: 3099
0    3099
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
BRA
3256
678    3256
765    3256
Name: DFO_matches_nr, dtype: object
2
New nr: 3256
0    3256
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3615
691    3615
725    3615
Name: DFO_matches_nr, dtype: object
2
New nr: 3615
0    3615
Name: DFO_matches_nr, dtype: object
nat. entry > subnat. entry
AUS
3894
698    3894
741    3894
Name: DFO_matches_nr, dtype: object
2
New nr: 3894
0    3894
Name: DFO_matches_nr, dtype: object
Number of succesfully matched EM-DAT events: 697
Number of individual DFO events: 519


FINAL:
Number of succesfully matched EM-DAT events: 697
Number of events without fatalities and damages numbers: 114